.App {
    text-align: center;
}

p {
    text-align: left;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding: 0 20px;
}

hr {
    border: 1px solid rgb(79, 79, 79);
    margin: 20px 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(222, 222, 222);
}