h4 {
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

.github-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 3px 10px 3px 5px;
    color: initial;
    margin: 0 5px 5px 5px;
    border-radius: 4em;
    background-image: linear-gradient(180deg, #dfdfdf, #b5b6b8 90%);
    color: #24292e;
}

.github-button p {
    margin: 0;
    display: inline-block;
}

.payment-logo {
    height: 1.6em;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin-block-start: 0;
    margin-block-end: 1em;
}

li {
    text-align: left;
    word-wrap: break-word;
}